<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lesson">

    <application>
        <activity android:name=".LessonActivity"
            android:theme="@style/LessonTheme"
            />
    </application>

</manifest>